# Data Manipulation

1. Find all Statistic Measures
2. Which subject has highest average ?
3. What are the Student IDs who got more tham 80% GPA?
4. How many female students are there in the class?
5. What is the ratio of male students and female students?
6. What are the marks of male students in statistics ?
7. What is the ID of the class topper ?
8. What is the gender of probabilty topper?
9. Create Pivot Table for gender and class?
10. Which subject got least average marks.?
11. How many male and female students are there ?
12. How many female student are there from class A?
13. Which class has more strength ?
14.Sort the data as per algebra ?
15. How many students got exactly 64 marks from functional analysis?

In [104]:
import pandas as pd
import numpy as np

In [105]:
data = pd.read_csv(r"C:\Users\User\Downloads\studens_data.csv")
data

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

1. Find all Statistic Measures

In [81]:
new = data.describe()
new

,ID,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,1193.000000,82.957048,76.057143,71.961905,78.942857,85.133333,83.876190,80.761905,75.323810
std,30.454885,6.053187,11.722618,12.197039,14.997326,10.269509,10.514363,10.296119,13.003324
min,1141.000000,63.490000,46.000000,38.000000,17.000000,51.000000,29.000000,54.000000,9.000000
25%,1167.000000,79.340000,67.000000,64.000000,71.000000,80.000000,79.000000,74.000000,67.000000
50%,1193.000000,84.110000,76.000000,73.000000,83.000000,87.000000,85.000000,81.000000,76.000000
75%,1219.000000,87.300000,84.000000,80.000000,91.000000,92.000000,92.000000,89.000000,85.000000
max,1245.000000,93.710000,98.000000,100.000000,99.000000,100.000000,97.000000,100.000000,100.000000

2. Which subject has highest average ?

In [111]:
avg = data.loc[:,['Algebra','Calculus1','Calculus2','Statistics','Probability','Measure','Functional_analysis']].mean()
avg

Algebra                76.057143
Calculus1              71.961905
Calculus2              78.942857
Statistics             85.133333
Probability            83.876190
Measure                80.761905
Functional_analysis    75.323810
dtype: float64

In [112]:
high_avg = avg.idxmax()
print("The subject has Highest average :: ",high_avg)

The subject has Highest average ::  Statistics

3. What are the Student IDs who got more tham 80% GPA?

In [11]:
more_than_80 = data[data['GPA'] > 80.0]

In [12]:
len(more_than_80)

76

In [13]:
more_than_80['ID']

11     1152
13     1154
14     1155
15     1156
17     1158
       ...
100    1241
101    1242
102    1243
103    1244
104    1245
Name: ID, Length: 76, dtype: int64

4. How many female students are there in the class?

In [66]:
data

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,88.34,87,83,92,98,93,86,90
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [15]:
female_std = data[data['gender'] == 'female']
len(female_std)

68

5. What is the ratio of male students and female students?

In [16]:
male = len(data[data['gender'] == 'male'])
female = len(data[data['gender'] == 'female'])
ratio = male/female
print("Number of male students : ",male)
print("Number of female students : ",female)
print("Ratio of male and female students is : ",male/female)

Number of male students :  37
Number of female students :  68
Ratio of male and female students is :  0.5441176470588235

6. What are the marks of male students in statistics ?

In [17]:
data[(data['gender'] == 'male')]

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
0,1141,A,male,73.47,64,81,87,60,74,71,60
5,1146,A,male,65.04,60,60,39,61,65,74,60
6,1147,A,male,77.11,60,43,52,63,71,72,75
10,1151,A,male,76.83,61,66,61,69,65,69,67
13,1154,A,male,80.08,67,65,74,73,87,68,76
14,1155,A,male,81.67,73,60,55,76,77,74,64
16,1157,A,male,74.11,74,70,61,76,68,57,61
17,1158,A,male,81.50,68,67,55,76,85,75,87
18,1159,B,male,75.64,60,68,54,76,76,76,64
19,1160,A,male,76.46,67,73,64,78,83,76,64
20,1161,B,male,75.57,63,64,71,78,69,76,62
21,1162,B,male,83.13,82,82,92,78,92,83,78
24,1165,A,male,79.56,64,62,76,80,81,80,74
28,1169,A,male,84.04,73,80,85,83,79,73,62
31,1172,A,male,87.04,87,98,93,83,95,87,79
32,1173,A,male,74.17,63,73,61,83,72,55,62
33,1174,A,male,82.71,82,90,90,83,77,79,70
40,1181,B,male,83.19,62,73,76,85,79,74,67
47,1188,A,male,74.43,66,80,83,87,79,69,60
50,1191,A,male,79.00,82,72,77,87,82,92,71
59,1200,B,male,79.34,62,75,80,89,75,63,74
61,1202,A,male,78.39,66,60,66,89,76,75,78
65,1206,A,male,86.37,95,76,87,90,86,94,84
72,1213,A,male,89.41,90,87,83,92,97,87,70
78,1219,A,male,63.49,81,61,17,92,88,69,9
82,1223,B,male,84.18,84,67,94,92,82,83,85
89,1230,A,male,86.01,77,60,78,94,88,90,93
90,1231,A,male,89.46,87,92,81,95,89,92,86
92,1233,A,male,86.87,82,77,85,95,94,90,80
96,1237,A,male,91.74,94,100,96,97,95,94,93
97,1238,A,male,91.14,98,90,98,97,83,93,89
98,1239,A,male,90.31,84,82,99,97,89,96,85
99,1240,B,male,88.10,87,70,95,97,91,93,82
101,1242,B,male,89.84,98,77,95,98,96,88,100
102,1243,B,male,88.82,83,80,91,98,93,95,71
103,1244,A,male,86.60,92,82,91,99,94,82,78
104,1245,A,male,93.71,93,97,99,100,97,90,90

In [19]:
data[(data['gender'] == 'male')]['Statistics']

0       60
5       61
6       63
10      69
13      73
14      76
16      76
17      76
18      76
19      78
20      78
21      78
24      80
28      83
31      83
32      83
33      83
40      85
47      87
50      87
59      89
61      89
65      90
72      92
78      92
82      92
89      94
90      95
92      95
96      97
97      97
98      97
99      97
101     98
102     98
103     99
104    100
Name: Statistics, dtype: int64

7. What is the ID of the class topper ?

In [20]:
highest = data[data['GPA'] == data['GPA'].max()]
top_id = highest.iloc[0]['ID']
print("ID of class topper is : ",top_id)

ID of class topper is :  1245

8. What is the gender of probabilty topper?

In [21]:
class_topper_gender = highest.iloc[0]['gender']
print("Gender of class topper is : ",class_topper_gender)

Gender of class topper is :  male

9. Create Pivot Table for gender and class?

In [94]:
pivot_table = pd.pivot_table(data,index=['gender', 'class'])
pivot_table

                Algebra  Calculus1  Calculus2  Functional_analysis        GPA  \
gender class
female A      75.437500  71.270833  80.791667            76.750000  83.655625
       B      76.700000  68.750000  78.500000            75.750000  83.324500
male   A      76.785714  75.142857  74.750000            72.392857  81.454286
       B      75.666667  72.888889  83.111111            75.888889  83.090000

                       ID    Measure  Probability  Statistics
gender class
female A      1195.916667  81.458333    83.375000   85.729167
       B      1185.600000  80.800000    86.800000   83.900000
male   A      1190.642857  79.392857    82.714286   84.107143
       B      1201.222222  81.222222    83.666667   87.888889

10. Which subject got least average marks.?

In [113]:
avg = data.loc[:,['Algebra','Calculus1','Calculus2','Statistics','Probability','Measure','Functional_analysis']].mean()
avg

Algebra                76.057143
Calculus1              71.961905
Calculus2              78.942857
Statistics             85.133333
Probability            83.876190
Measure                80.761905
Functional_analysis    75.323810
dtype: float64

In [115]:
least_avg = avg.idxmin()
least_avg

'Calculus1'

11. How many male and female students are there ?

In [66]:
count = data['gender'].value_counts()
count

gender
female    68
male      37
Name: count, dtype: int64

In [22]:
male = len(data[data['gender'] == 'male'])
female = len(data[data['gender'] == 'female'])
print("Number of male students : ",male)
print("Number of female students : ",female)

Number of male students :  37
Number of female students :  68

12. How many female student are there from class A?

In [49]:
female_A = len(data[(data['gender'] == 'female') & (data['class'] == 'A') ])
female_A

48

In [51]:
female_A = data[(data['gender'] == 'female') & (data['class'] == 'A') ]
female_A

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
1,1142,A,female,71.22,57,50,51,51,55,62,61
2,1143,A,female,74.56,47,48,71,60,61,68,64
3,1144,A,female,72.89,46,72,38,60,29,54,51
4,1145,A,female,70.11,49,45,63,60,66,66,61
7,1148,A,female,64.75,60,38,60,63,70,68,51
9,1150,A,female,76.50,60,61,60,69,73,60,62
23,1164,A,female,83.98,71,73,83,79,88,87,81
25,1166,A,female,78.54,76,67,71,80,71,83,67
27,1168,A,female,83.06,68,72,71,81,86,81,70
29,1170,A,female,85.29,77,64,64,83,95,80,88
34,1175,A,female,81.29,67,62,85,83,82,83,64
35,1176,A,female,85.55,69,83,73,83,85,67,81
36,1177,A,female,86.43,85,83,88,85,85,92,85
37,1178,A,female,85.11,73,61,80,85,90,79,82
39,1180,A,female,84.01,80,75,83,85,86,87,81
42,1183,A,female,83.94,74,81,87,86,82,80,73
43,1184,A,female,81.07,64,55,71,86,67,72,73
45,1186,A,female,87.85,80,78,90,87,90,87,91
46,1187,A,female,80.60,60,60,73,87,82,74,64
48,1189,A,female,83.15,68,80,92,87,80,83,64
49,1190,A,female,82.55,67,71,80,87,87,83,67
53,1194,A,female,77.53,76,53,55,87,82,80,63
54,1195,A,female,78.08,65,60,75,88,78,78,61
55,1196,A,female,87.44,87,75,91,88,95,89,94
56,1197,A,female,81.71,69,68,78,88,78,74,78
60,1201,A,female,84.70,62,66,93,89,84,79,81
64,1205,A,female,83.79,81,71,68,90,79,86,73
67,1208,A,female,84.41,82,77,86,91,75,72,85
68,1209,A,female,93.06,82,90,93,91,93,99,94
69,1210,A,female,87.30,76,88,80,91,89,75,78
71,1212,A,female,84.33,88,72,85,92,94,87,60
73,1214,A,female,84.11,79,48,85,92,85,88,84
74,1215,A,female,87.26,80,78,87,92,95,92,94
75,1216,A,female,91.90,95,86,96,92,95,90,95
76,1217,A,female,87.77,91,68,87,92,92,90,77
77,1218,A,female,84.68,73,73,94,92,92,81,74
79,1220,A,female,89.95,87,87,92,92,90,92,84
80,1221,A,female,85.18,75,70,73,92,84,76,88
83,1224,A,female,85.00,76,75,83,93,85,75,89
84,1225,A,female,90.62,94,81,90,93,91,86,94
86,1227,A,female,84.63,83,87,88,94,79,87,76
87,1228,A,female,88.62,95,65,97,94,97,85,85
88,1229,A,female,87.87,84,86,94,94,94,95,80
91,1232,A,female,86.96,92,86,94,95,95,94,84
93,1234,A,female,91.61,93,82,95,95,94,100,93
94,1235,A,female,88.54,89,86,96,96,96,87,81
95,1236,A,female,87.63,82,81,97,97,88,91,68
100,1241,A,female,88.34,87,83,92,98,93,86,90

13. Which class has more strength ?

In [116]:
data['class'].value_counts()

class
A    76
B    29
Name: count, dtype: int64

In [121]:
strength = data['class'].value_counts()[0]
print("The class has more strength :: ",strength)

The class has more strength ::  76

C:\Users\User\AppData\Local\Temp\ipykernel_17444\2161875714.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  strength = data['class'].value_counts()[0]

14.Sort the data as per algebra ?

In [73]:
data.sort_values('Algebra')

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
3,1144,A,female,72.89,46,72,38,60,29,54,51
2,1143,A,female,74.56,47,48,71,60,61,68,64
4,1145,A,female,70.11,49,45,63,60,66,66,61
1,1142,A,female,71.22,57,50,51,51,55,62,61
9,1150,A,female,76.50,60,61,60,69,73,60,62
...,...,...,...,...,...,...,...,...,...,...,...
65,1206,A,male,86.37,95,76,87,90,86,94,84
75,1216,A,female,91.90,95,86,96,92,95,90,95
87,1228,A,female,88.62,95,65,97,94,97,85,85
97,1238,A,male,91.14,98,90,98,97,83,93,89
101,1242,B,male,89.84,98,77,95,98,96,88,100

In [75]:
data.sort_values('Algebra')['Algebra']

3      46
2      47
4      49
1      57
9      60
       ..
65     95
75     95
87     95
97     98
101    98
Name: Algebra, Length: 105, dtype: int64

15. How many students got exactly 64 marks from functional analysis?

In [77]:
std = data[data['Functional_analysis'] == 64]
len(std)

8

In [78]:
std

,ID,class,gender,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis
2,1143,A,female,74.56,47,48,71,60,61,68,64
14,1155,A,male,81.67,73,60,55,76,77,74,64
18,1159,B,male,75.64,60,68,54,76,76,76,64
19,1160,A,male,76.46,67,73,64,78,83,76,64
26,1167,B,female,77.76,67,46,71,80,82,69,64
34,1175,A,female,81.29,67,62,85,83,82,83,64
46,1187,A,female,80.60,60,60,73,87,82,74,64
48,1189,A,female,83.15,68,80,92,87,80,83,64

In [79]:
std['Functional_analysis']

2     64
14    64
18    64
19    64
26    64
34    64
46    64
48    64
Name: Functional_analysis, dtype: int64